@model Almwdeh.Models.StudentsTbl
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<div class="right_col" role="main">
    <div class="row">

        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <h2>@Almwdeh.Resources.StudentResource.FinanceInfo</h2>
                    <ul class="nav navbar-left" style="display:inline-grid;text-align:end">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>


                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br />
                    <form id="EditFinanceInfo" data-parsley-validate class="form-horizontal" style="direction:rtl;font-size:large" onsubmit="EditStudentFinanceInfoForm()" method="post">


                        <div class="row">
                            <div class="col-md-6 col-sm-6">


                                <div class="item form-group">
                                    <label class="col-form-label col-md-4 col-sm-4 label-align">
                                        @Almwdeh.Resources.StudentResource.FinancialStatus <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <input type="text" id="FinancialStatus" value="@Model.FinancialStatus" required="required" class="form-control" style="direction:ltr">
                                    </div>
                                </div>


                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="item form-group" style="text-align: right;vertical-align:middle;display: flex;/* justify-content: center; */align-items: center;">
                                    <label class="col-form-label col-md-4 col-sm-4 label-align">@Almwdeh.Resources.StudentResource.NeedMonthlyAid</label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <div>


                                            @if (Model.NeedMonthlyAid == true)
                                            {
                                                @Almwdeh.Resources.StudentResource.No@:
                                                <input type="radio" id="NeedMonthlyAidNo" name="NeedMonthlyAid" value="false">
                                                @Almwdeh.Resources.StudentResource.yes@:
                                                <input type="radio" id="NeedMonthlyAidYes" name="NeedMonthlyAid" value="true" checked>
                                            }
                                            else
                                            {
                                                @Almwdeh.Resources.StudentResource.No@:
                                                <input type="radio" id="NeedMonthlyAidNo" name="NeedMonthlyAid" value="false"checked>
                                                @Almwdeh.Resources.StudentResource.yes@:
                                                <input type="radio" id="NeedMonthlyAidYes" name="NeedMonthlyAid" value="true" >

                                            }



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="BankInfo" style="display: none;">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align">
                                            @Almwdeh.Resources.StudentResource.BankAccountNumber <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <input type="text" id="BankAccountNumber" value="@Model.BankAccountNumber" required="required" class="form-control">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align">
                                            @Almwdeh.Resources.StudentResource.BankCardNumber <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <input type="text" id="BankCardNumber" value="@Model.BankCardNumber" required="required" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align">
                                            @Almwdeh.Resources.StudentResource.BankShibaNumber <span class="required"></span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <input type="text" id="BankShibaNumber" value="@Model.BankShibaNumber" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div class="item form-group" style="text-align: right;vertical-align:middle;display: flex;/* justify-content: center; */align-items: center;">
                                    <label class="col-form-label col-md-4 col-sm-4 label-align">@Almwdeh.Resources.StudentResource.Working</label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <div>


                                            @if (Model.Working == true)
                                            {
                                                @Almwdeh.Resources.StudentResource.No @:
                                                <input type="radio" id="WorkingNo" name="Working" value="false">
                                                @Almwdeh.Resources.StudentResource.yes@:
                                                <input type="radio" id="WorkingYes" name="Working" value="true" checked>
                                            }
                                            else
                                            {
                                                @Almwdeh.Resources.StudentResource.No @:
                                                <input type="radio" id="WorkingNo" name="Working" value="false" checked>
                                                @Almwdeh.Resources.StudentResource.yes@:
                                                <input type="radio" id="WorkingYes" name="Working" value="true" >
                                            }




                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="WorkDeatil"style="display: none;">
                            <div class="row">


                                <div class="col-md-6 col-sm-6">

                                    <div class="item form-group">
                                        <label class="col-form-label col-md-4 col-sm-4 label-align">
                                            @Almwdeh.Resources.StudentResource.WorkDetails <span class="required">*</span>
                                        </label>
                                        <div class="col-md-8 col-sm-8 ">
                                            <textarea id="WorkDetails" required="required" class="form-control">@Model.WifeDetails</textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" value=@Almwdeh.Common.MySession.Current.UserID.ToString() id="UserAccessIDs" />

                        <div class="ln_solid"></div>
                        <div class="item form-group" style="direction:ltr;float:left">
                            <div class="col-md-6 col-sm-6 offset-md-3">

                                <input type="submit" class="btn btn-primary" value="@Almwdeh.Resources.Resource.save">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script>
    function EditStudentFinanceInfoForm() {
        alert($('#UserAccessIDs').val());
        if ($('#FinancialStatus').val() == '') {
            alert("قم بملئ جميع الحقول");
            return;
        }

        if ($("#EditFinanceInfo input[name='NeedMonthlyAid']:checked").val() == "true") {
            if ($('#WorkDetails').val() == '') {
                alert("قم بملئ جميع الحقول");
                return;
            }
        }

        if ($("#EditFinanceInfo input[name='Working']:checked").val() == "true") {
            if ($('#BankAccountNumber').val() == '' || $('#BankCardNumber').val() == '') {
                alert("قم بملئ جميع الحقول");
                return;
            }
        }

        var formData = new FormData();

        formData.append("UserAccessIDs", $('#UserAccessIDs').val());
        formData.append("NeedMonthlyAid", $("#EditFinanceInfo input[name='NeedMonthlyAid']:checked").val());
        formData.append("FinancialStatus", $('#FinancialStatus').val());
        formData.append("BankAccountNumber", $('#BankAccountNumber').val());
        formData.append("BankCardNumber", $('#BankCardNumber').val());
        formData.append("BankShibaNumber", $('#BankShibaNumber').val());

        formData.append("Working", $("#EditFinanceInfo input[name='Working']:checked").val());
        formData.append("WorkDetails", $('#WorkDetails').val());

        $.ajax({
            type: 'POST',
            url: "/Students/AddStudent",
            data: formData,
            cache: false,
            contentType: false,
            processData: false,
            success: function (result) {
                alert(result.message);
            },
            error: function (result) {
                alert(result.message);
            }
        })
    }
</script>
<script>

    $(function () {
        var inputValue = $("#EditFinanceInfo input[name='NeedMonthlyAid']:checked").attr("value");
        if (inputValue == 'false') {
            $('#BankInfo').css('display', 'none');
            $("#BankAccountNumber").prop('required', false);
            $("#BankShibaNumber").prop('required', false);
            $("#BankCardNumber").prop('required', false);
        } else
            $('#BankInfo').css('display', 'block');
        $("#BankAccountNumber").prop('required', true);
        $("#BankCardNumber").prop('required', true);
    });
    $("#EditFinanceInfo input[name='NeedMonthlyAid']").on('change', function () {

        var inputValue = $(this).attr("value");
        
        if (inputValue == 'false') {
            $('#BankInfo').css('display', 'none');
            $("#BankAccountNumber").prop('required', false);
            $("#BankShibaNumber").prop('required', false);
            $("#BankCardNumber").prop('required', false);
        } else
            $('#BankInfo').css('display', 'block');
            $("#BankAccountNumber").prop('required', true);
            $("#BankCardNumber").prop('required', true);
    });
    $(function () {

        var inputValue = $("input[name='Working']:checked").attr("value");

        if (inputValue == 'false') {
            $('#WorkDeatil').css('display', 'none');
        } else
            $('#WorkDeatil').css('display', 'block');
    });
    
    $("input[name='Working']").on('change', function () {

        var inputValue = $(this).attr("value");

        if (inputValue == 'false') {
            $('#WorkDeatil').css('display', 'none');
        } else
            $('#WorkDeatil').css('display', 'block');

    });
</script>
