


<div id="kv-avatar-errors-2" class="center-block" style="width:800px;display:none"></div>

<div class="col-md-12 col-sm-12 ">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Almwdeh.Resources.StudentResource.ExtraInfo</h2>
            <ul class="nav navbar-left" style="display:inline-grid;text-align:end">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form id="ExtraInfo" data-parsley-validate class="form-horizontal" style="direction:rtl;font-size:large" onsubmit="AddStudentExtraInfoForm()" method="post">

                <div class="row">

                    <div class="col-md-6">

                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align">
                                @Almwdeh.Resources.StudentResource.Skills <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                @Html.DropDownList("Skills", null, htmlAttributes: new { @class = "form-control chzn-select-2", @multiple = "multiple" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align">
                                @Almwdeh.Resources.StudentResource.PreviousJobs <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                <input type="text" id="PreviousJobs" class="form-control" required="required">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="item form-group" style="text-align: right;vertical-align:middle;display: flex;/* justify-content: center; */align-items: center;">
                            <label class="col-form-label col-md-4 col-sm-4 label-align">@Almwdeh.Resources.StudentResource.ShahidFamily</label>
                            <div class="col-md-8 col-sm-8 ">
                                <div id="MaritalStatus">
                                    @Almwdeh.Resources.StudentResource.No:
                                    <input type="radio" id="ShahidFamilyNo" name="ShahidFamily" value="false" checked>
                                    @Almwdeh.Resources.StudentResource.yes:
                                    <input type="radio" id="ShahidFamilyYes" name="ShahidFamily" value="true">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="Shahid" style="display: none;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item form-group">
                                    <label class="col-form-label col-md-4 col-sm-4 label-align">
                                        @Almwdeh.Resources.StudentResource.ShahidRelationship <span class="required">*</span>
                                    </label>
                                    <div class="col-md-8 col-sm-8 ">
                                        <input type="text" id="ShahidRelationship" class="form-control" required="required">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="item form-group">
                            <label class="col-form-label col-md-4 col-sm-4 label-align">
                                @Almwdeh.Resources.StudentResource.TheIdentifier <span class="required">*</span>
                            </label>
                            <div class="col-md-8 col-sm-8 ">
                                @Html.DropDownList("TheIdentifier", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                    <input type="hidden" value=@Almwdeh.Common.MySession.Current.UserID.ToString() id="UserAccessIDs" />

                    <div class="ln_solid"></div>
                    <div class="item form-group" style="direction:ltr;float:left">
                        <div class="col-md-6 col-sm-6 offset-md-3">

                            <input type="submit" class="btn btn-primary" value="@Almwdeh.Resources.Resource.save">
                        </div>
                    </div>

</form>
        </div>
    </div>
</div>




