
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section" style="font-size:larger">
      
        <ul class="nav side-menu" style="display:contents;text-align:-webkit-right">
            <li>
                <a><i class="fa fa-user"></i> @Almwdeh.Resources.StudentResource.Profile <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="font-size:larger">
                    <li><a href=@Url.Action("EditStudentGeneralInfo","Students")>@Almwdeh.Resources.StudentResource.GeneralInfo</a></li>
                    <li><a href=@Url.Action("EditPassportInfo","Students")>@Almwdeh.Resources.StudentResource.PassportInfo</a></li>
                    <li><a href=@Url.Action("EditFinanceInfo","Students")>@Almwdeh.Resources.StudentResource.FinanceInfo</a></li>
                    <li><a href=@Url.Action("EditStudentExtralInfo","Students")>@Almwdeh.Resources.StudentResource.EditExtraInfo</a></li>

                    <li><a href=@Url.Action("UniversityInfo","Students")>@Almwdeh.Resources.StudentResource.UniversityInfo</a></li>

                </ul>
            </li>
        
        </ul>
    </div>


</div>

