<div  class="animate form forgotpassword_form">
    <section class="login_content">
        <form style="direction:rtl">
            <h1>@Almwdeh.Resources.Resource.ForgotPasswordHeader</h1>

            <h2>@Almwdeh.Resources.Resource.ForgotPassword</h2>
            <div>
                <input type="email" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderEmail" id="ReSendEmail" required="" />
            </div>           
            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    <a class="btn btn-primary submit" onclick="ForgotPassword()" style="color:white;font-size:18px">@Almwdeh.Resources.Resource.ResetPasswordButton</a>

                    <a href="#signin" class="to_register btn">@Almwdeh.Resources.Resource.LoginForm  </a>
                </p>

                <div class="clearfix"></div>
                <br />


            </div>
        </form>
    </section>
</div>
<script src="~/vendors/jquery/dist/jquery.min.js"></script>
<script>
    function ForgotPassword() {

	$.ajax(
	{
  	type: "POST",
  	url: '@Url.Action("ForgotPassword", "Account")',
  	data: {
            EmailID: $('#ReSendEmail').val(),
            
  	},
            error: function (result) {
                alert(result.message);
                console.log("1");
  	},
  	success: function (result) {
    	console.log(result);
      	if (result.status == true) {

                window.location.href = '@Url.Action("Index", "Account")';
                console.log("4");
    	}
            else {
                console.log("2");
      	alert(result.message);
    	}
  	}
	});
  }
</script>

