<div class="animate form login_form">
    <section class="login_content">
        <form style="direction:rtl">
            <h1>@Almwdeh.Resources.Resource.LoginForm</h1>
            <div>
                <input type="text" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderUserName" id="Username" required="" />
            </div>
            <div>
                <input type="password" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderPassword" id="Password" required="" />
            </div>
            <div>
                <a class="btn btn-primary submit" onclick="Validate()" style="color:white; font-size:18px;">@Almwdeh.Resources.Resource.LoginForm</a>
                
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    <a href="#signup" class="to_register" style="float:right"> @Almwdeh.Resources.Resource.CreateAccount </a>
                    <a class="to_register" href="#ForgotPassword" style="float:left">@Almwdeh.Resources.Resource.Lostyourpassword</a>
                </p>

                <div class="clearfix"></div>
                <br />

               
            </div>
        </form>
    </section>
</div>
