<div id="register" class="animate form registration_form">
    <section class="login_content">
        <form style="direction:rtl">
            <h1>@Almwdeh.Resources.Resource.CreateAccount</h1>
            <div>
                <input type="text" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderUserName" id="NewUsername" required="" />
            </div>
            <div>
                <input type="email" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderEmail" id="NewEmail" required="" />
            </div>
            <div>
                <input type="password" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderPassword" id="NewPassword" required="" />
            </div>
            <div>
                <a class="btn btn-primary submit" style="color:white;font-size:18px" onclick="createAccount()">@Almwdeh.Resources.Resource.CreateAccount</a>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    Already a member ?
                    <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

              
            </div>
        </form>
    </section>
</div>
