@model Almwdeh.Models.ResetPasswrodModel
@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")

</head>
<body class="login">
    <div>

        <div class="login_wrapper">
            <br />

            <div class="animate form login_form">
                <section class="login_content">
                    <form style="direction:rtl">
                        <h1>@Almwdeh.Resources.Resource.ResetPassowrdHeader</h1>

                        <div>
                            <input type="password" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderPassword" id="Password" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="@Almwdeh.Resources.Resource.PlaceHolderReEnterPassword" id="ConfirmPassword" required="" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" value=@Model.ResetCode id="ResetCode" />
                         
                        </div>
                        <div>
                            <a class="btn btn-primary submit" onclick="ResetPassword()" style="">@Almwdeh.Resources.Resource.PlaceHolderReEnterPassword</a>

                        </div>

                        <div class="clearfix"></div>


                    </form>
                </section>
            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/lib")

</body>

<script src="~/vendors/jquery/dist/jquery.min.js"></script>


<script>
    function ResetPassword() {
 
    $.ajax(
    {
      type: "POST",
      url: '@Url.Action("ResetPassword", "Account")',
      data: {
          ConfirmPassword: $('#ConfirmPassword').val(),
          NewPassword: $('#Password').val(),
          ResetCode: $('#ResetCode').val()
      },
            error: function (result) {
                alert(result.message);
      },
      success: function (result) {
       
          if (result.status == true) {

               window.location.href = '@Url.Action("Index", "Account")';
        }
        else {
          alert(result.message);
        }
      }
    });
  }

</script>